<div class="space-y-4">
  <!-- Avatar Mode -->
  @if (isAvatar()) {
    <app-image-upload-avatar
      [currentImageUrl]="currentImageUrl()"
      [altText]="altText()"
      [uploading]="uploading()"
      (viewImage)="onOpenImageModal()"
      (fileSelected)="onFileSelect($event)"
      (fileDrop)="processDroppedFiles($event)"
      (removeImage)="onRemovePreview()"
    />
  } @else if (isBanner()) {
    <!-- Banner Mode -->
    <app-image-upload-banner
      [currentImageUrl]="currentImageUrl()"
      [altText]="altText()"
      [uploading]="uploading()"
      (viewImage)="onOpenImageModal()"
      (fileSelected)="onFileSelect($event)"
      (fileDrop)="processDroppedFiles($event)"
      (removeImage)="onRemovePreview()"
    />
  } @else {
    <!-- Standard Mode -->
    <app-image-upload-standard
      [uploading]="uploading()"
      [uploadProgress]="uploadProgress()"
      [multiple]="multiple()"
      [previewUrl]="previewUrl()"
      [altText]="altText()"
      (fileSelected)="onFileSelect($event)"
      (fileDrop)="processDroppedFiles($event)"
      (removePreview)="onRemovePreview()"
    />
  }

  <!-- Error Message -->
  @if (error()) {
    <div class="alert-error">
      <p>{{ error() }}</p>
    </div>
  }

  <!-- Gallery -->
  <app-image-upload-gallery
    [uploadedImages]="uploadedImages()"
    [existingImages]="loadedExistingImages()"
    (removeUploaded)="onGalleryRemoveUploaded($event)"
    (removeExisting)="onGalleryRemoveExisting($event)"
  />

  <!-- Modal -->
  <app-image-upload-modal
    [visible]="showModal()"
    [imageUrl]="currentImageUrl()"
    [altText]="altText()"
    (close)="closeModal()"
  />
</div>
